.App {
  font-family: sans-serif;
  text-align: start;
}

.selectCurrency {
  width: 500px;
  height: auto;
  min-width: 200px;
  margin: 0 auto;
  background: #96bc7f;
  color: #fff;
  padding: 10px 10px 0 10px;
  padding-bottom: 25px;
}
.selectCurrency form div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
  padding-top: 10px;
}
.selectCurrency form input {
  /* max-width: 250px; */
  padding: 8px 5px;
}
.selectCurrency form select {
  padding: 9px 0;
}
.selectCurrency form .btn {
  padding: 7px 20px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #478f39;
  color: #fff;
  cursor: pointer;
  border-color: #324429;
}
.selectCurrency form .btn:hover {
  background: #323630;
}
.exchangedAmount {
  background: #fff;
  color: #000;
  padding: 8px 5px;
  margin-top: 3px;
}
